:root {
  --primary: #ffff;
  --secondary: rgb(62, 60, 60);
  --text: black;
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}
